<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAST EVENTS</title>
    <link rel="icon" href="./img/logo2.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
            <img class="logo ms-5" src="./img/logo.png" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link " href="./index.html">Home</a>
                    <a class="nav-link " href="./upcoming_events.html">Upcaming Events</a>
                    <a class="nav-link " href="#">Past Events</a>
                    <a class="nav-link " href="./contact.html">Contact</a>
                    <a class="nav-link " href="./stats.html">Stats</a>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <section id="titulo-principal">
            <div id="carouselExample" class="carousel slide mt-4">
                <div class="carousel-inner">
                    <div class="carousel-item active caroimg d-flex justify-content-center align-items-center">
                        <img src="https://wallpapertag.com/wallpaper/middle/6/f/3/434276-top-snow-mountain-wallpaper-3840x2160-ios.jpg"
                            class="img-m1" alt="fondo" />
                        <div class="carousel-caption d-block p-0" id="titulo">
                            <h2 class="text-dark text rounded-pill m-auto fs-1">PAST EVENTS</h2>
                        </div>
                    </div>
                </div>
                <span class="carousel-control-prev" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <a href="./upcoming_events.html"><span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span></a>
                </span>
                <span class="carousel-control-next" data-bs-target="#carouselExample">
                    <a href="./contact.html"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
                </span>
            </div>
        </section>

        <div  class="row targetas mt-5 justify-content-evenly" id="tarjetas">


            <form class="d-flex row ms-3 form-vue ">
                <div class=" checkdos d-flex">
                    <template v-for="categoria of categoriaFiltrada">
                        <div class="form-check d-flex ">
                            <label class=" form-check-label ">
                                {{categoria}}
                                <input type="checkbox" class="form-check-input" @change=" filtro" v-model="checks" :value="categoria">
                            </label>
                        </div>
                    </template>

                    <div class="busqueda ">
                        <div class="input-group ">
                            <input type="text" class="form-control" @keyup=" filtro" v-model="filtroText">
                        </div>
                    </div>
                </div>
            </form>


            <template v-if="filtrado.length > 0" v-for="dato of filtrado ">
                <div class="card mt-5">
                    <img :src="dato.image" class="card-img-top mt-2" alt="foto-targeta">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{dato.name}} </h5>
                        <p class="card-text ">{{dato.description}}</p>
                        <p class="precio">Price <strong class="ms-2">$ {{dato.price}} </strong> </p>
                    </div>
                    <a :href="'./info.html?id='+dato._id" class="btn btn-primary precio2 ">Go somewhere</a>
                </div>
            </template>

            <template v-else>
                <div class="row text-error">
                    <h2>no results found</h2>
                </div>
            </template>
            


    </main>
    <footer class="d-flex justify-content-between align-items-center ">
        <div class="img-footer">
            <a href="#"><img class="imagenes" src="./img/icono-instgram.png" alt="foto"></a>
            <a href="#"><img class="imagenes" src="./img/icono-facebook.png" alt="foto"></a>
            <a href="#"><img class="imagenes" src="./img/icono-wasa.png" alt="foto"></a>
        </div>
        <p class="cohort mt-2 text-white">Cohort</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/past_vue.js"></script>


</body>

</html>